body {
  background-color: rgba(253, 255, 143, 0.685);
  margin: 0 auto;
  font-family: 'Inconsolata', monospace;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #08083da6;
}

.text-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#editor {
  height: 100vh;
  margin: 50px;
  width: 50%;
  padding: 10px;
}

#preview {
  height: 100vh;
  margin: 50px;
  padding: 10px;
}