body {
  background-color: rgba(212, 76, 61, 0.863);
  margin: 0 auto;
  font-family: 'Inconsolata', monospace;
  color: #141414bd
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

.header h1 {
  font-weight: 800;
  color: #330330da;
  font-size: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer p {
  color: #330330da;
  font-weight: 600px;
}

.text-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#editor {
  height: 50vh;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  width: 40%;
  padding: 10px;
}

#preview {
  height: 100%;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
}

@media  only screen and (max-width: 700px) {
  .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #editor {
    width: 80%;
    margin: 20px;
  }

  #preview {
    margin: 20px;
  }
}